<div class="container cart">
	<div class="row content-title">
		<span>Cart</span>
	</div>
	<div class="row content">
		<div class="col-md-8 items">
			<div class="row item-title">
				<div class="col-sm-offset-3 col-sm-5">Item</div>
				<div class="col-sm-2">Quantity</div>
				<div class="col-sm-2">Price</div>
			</div>
			<div class="row item" ng-repeat="item in getItems() track by $index">
				<div class="col-sm-1 text-center delete">
					<button class="fa fa-close" ng-click="remove(item)"></button>
				</div>
				<div class="col-sm-2 image"><img src="{{ item.product.imgUrl }}" alt="{{ item.product.name }}"></div>
				<div class="col-sm-5 info">
					<div class="name">{{ item.product.name }} - <span class="brand">{{ item.product.brand }}</span></div>
					<div class="short-description">{{ item.product.shortDesc }}</div>
				</div>
				<div class="col-sm-2 quantity">
					<div class="selectors">
						<button class="fa fa-minus" ng-click="decrease(item)"></button>
						<span class="numbers-products">{{ item.quantity }}</span>
						<button class="fa fa-plus" ng-click="increase(item)"></button>
					</div>
				</div>
				<div class="col-sm-2 price">{{ item.totalPrice + item.product.currency }}</div>
			</div>
			<div ng-show="!getItems()">
				You don't have any item yet.
			</div>
		</div>
		<div class="col-md-4 cart-info">
			<div class="row block-title">You have a discount code ?</div>
			<div class="row discount">
				<div class="input-group">
					<input type="text" class="form-control input-sm" placeholder="Enter your discount code">
					<div class="input-group-addon">Apply</div>
				</div>
			</div>

			<div class="row block-title">Cart</div>
			<div class="row total">
				<div class="col-sm-6 left">Subtotal</div><div class="col-sm-6 right">{{ getTotalCartPrice() }}</div>
				<div class="col-sm-6 left">Shipping</div><div class="col-sm-6 right">190</div>
				<div class="col-sm-6 left">Taxs</div><div class="col-sm-6 right">190</div>
			</div>
		</div>
	</div>
</div>