.products {
	.products-list {
		.product {
			text-align: center;
			text-transform: uppercase;
			padding: 30px;

			.content {
				display: inline-block;

				img {
					z-index: 1;
					width: 100%;
				}
				.product-title {
					text-align: left;
					margin: 40px 0 15px 0;
					font-size: 17px;
					font-weight: bold;
					.price {
						bottom: 0;
						float: right;
						color: black;
						font-size: 20px;
					}
				}
				.short-description {
					text-align: left;
					font-family: Arial;
					font-size: 13px;
				}
			}
			.content:hover {
				cursor: pointer;
				text-decoration: underline;
			}
		}
	}
}

.product {
	padding: 50px 0 100px 0;
	.next {
		padding: 0;
		margin-bottom: 30px;
		text-align: right;
		i {
			margin-left: 20px;
			font-size: 30px;
		}
		i:hover {
			color: black;
			cursor: pointer;
		}
	}
	.image {
		text-align: right;
		img {
			width: 90%;
		}
	}
	.product-description {
		padding: 0;

		.name {
			font-size: 25px;
			text-transform: uppercase;
			color: bold;
		}
		.brand {
			font-size: 19px;
			text-transform: uppercase;
		}
		.price {
			font-weight: 900;
			position: absolute;
			top: 0;
			right: 0;
			font-size: 35px;
		}
		.add-to-cart {
			text-align: right;
			font-style: italic;
			font-size: 20px;
			i {
				margin-left: 10px;
			}
		}
		.add-to-cart:hover {
			color: black;
			cursor: pointer;
			text-decoration: underline;
		}
		.description {
			margin: 20px 20px 0 0;
			line-height: 25px;
			text-align: justify;
		}
	}
}