.header {
	background-color: white;
	border: 0;
	color: $font-color;
	.brand {
		float: none;
		padding: 30px 0 30px 0;
		text-align: center;
		text-transform: uppercase;

		.navbar-toggle {
			position: absolute;
			top: 0;
			right: 0;
		}

		div {
			cursor: pointer;
			display: inline-block;
		}
		img {
			border: 1px solid rgba(0, 0, 0, 0.1);
			padding: 10px;
			width: 120px;
		}
		span {
			display: block;
			font-size: 17px;
			vertical-align: bottom;
			margin-top: 5px;
		}
	}

	.menu {
		float: none;
		text-align: center;
		.links {
			display: inline-block;
			padding: 0;
			ul {
				float: none;
				list-style: none;
				margin: 0;
				padding: 0;
				li {
					display: inline-block;
					a {
						color: $font-color;
					}
				}
			}

			.sections {
				text-transform: uppercase;
				font-weight: 900;
			}

			.categories {
				border-top: 1px solid black;
				display: block;
				padding-top: 5px;
				text-transform: capitalize;
				li {
					padding: 3px 10px 3px 10px;
					border-right: 1px solid #2c2c2c;
					cursor: pointer;
				}
				li:last-child {
					border-right: 0;
				}
			}
		}

		.cart {
			font-size: 17px;
			.items-number {
				font-size: 11px;
				padding: 2px 7px 2px 7px;
				border-radius: 100%;
				background-color: $lightDark;
				color: white;
				font-family: 'Arial';
				font-style: normal;
				position: absolute;
				margin: -3px 0 0 5px;
			}
		}
	}
}

@media screen and (max-width: $xs-screen) {
	.header {
		.menu {
			padding: 0;
			.links {
				.sections {
					li {
						font-size: 11px;
						padding-left: 0;
						padding-right: 0;
					}
				}
				.categories {
					li {
						width: 50%;
					}
					li:nth-child(0n+2) {
						border: 0;
					}
				}
			}
		}
	}
}