.header {
	margin-bottom: 50px;

	.logo, .menu {
		float: none;
		display: inline-block;
		vertical-align: middle;
	}

	.logo {
		padding: 10px 0 0 0;
		text-align: center;
		text-transform: uppercase;
		text-align: right;
		div { cursor: pointer; }
		img {
			border: 1px solid rgba(0, 0, 0, 0.1);
			padding: 10px;
			width: 120px;
		}
		span {
			display: block;
			font-size: 17px;
			vertical-align: bottom;
			margin-top: 5px;
		}
	}
	.menu {
		.links {
			padding: 0;
			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				li {
					display: inline-block;
					padding: 10px;
				}
			}

			.sections {
				text-transform: uppercase;
				font-weight: 900;
			}

			.categories {
				border-top: 1px solid black;
				display: block;
				padding-top: 5px;
				text-transform: capitalize;
				li {
					padding: 3px 10px 3px 10px;
					border-right: 1px solid #2c2c2c;
					cursor: pointer;
				}
			}
		}

		.cart {
			font-size: 27px;
			i {
				padding: 17px;
			}
		}
	}
}